* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	color: $color-text;
	font-family: "proxima-nova", sans-serif;
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.5;
}

button,
input,
select,
textarea {
	font-family: "proxima-nova", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: none;
	color: $color-accent-mid;
	font-family: "freight-sans-condensed-pro", sans-serif;
	line-height: 1.2;
}

.wp-block-separator,
hr {
	height: 2px;
	max-width: 66%;
	border-bottom: 0;
	background-color: $color-accent;
}

p {
	margin: 0 0 15px;
}

ul,
ol {
	margin-left: 0;
	padding-left: 20px;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a,
a:visited {
	color: $color-accent;
	text-decoration: none;
}
a:hover,
a:active,
a:focus,
a:visited:hover,
a:visited:active,
a:visited:focus {
	color: $color-accent;
	text-decoration: underline;
}

.entry-title {
	font-size: 4rem;
}

// .entry-content h1,
// .entry-content h2 {
// margin: 30px 0 15px;
// }

h1,
.entry-content h1 {
	font-size: 4rem;
}
h2,
.entry-content h2 {
	font-size: 3.6rem;
}
h3,
.entry-content h3 {
	font-size: 3.3rem;
}
h4,
.entry-content h4 {
	font-size: 3.1rem;
}
h5,
.entry-content h5 {
	font-size: 2.9rem;
}
h6,
.entry-content h6 {
	font-size: 2.7rem;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
	margin: 0;
	width: 100%;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1;
	color: $color-text;
	background: $color-white;
	border: 1px solid #c9ccdd;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}
input[type="text"] ::-webkit-input-placeholder,
input[type="email"] ::-webkit-input-placeholder,
input[type="url"] ::-webkit-input-placeholder,
input[type="password"] ::-webkit-input-placeholder,
input[type="search"] ::-webkit-input-placeholder,
select ::-webkit-input-placeholder,
textarea ::-webkit-input-placeholder {
	color: rgba(29, 33, 95, 0.5);
	opacity: 1;
}
input[type="text"] ::-moz-placeholder,
input[type="email"] ::-moz-placeholder,
input[type="url"] ::-moz-placeholder,
input[type="password"] ::-moz-placeholder,
input[type="search"] ::-moz-placeholder,
select ::-moz-placeholder,
textarea ::-moz-placeholder {
	color: rgba(29, 33, 95, 0.5);
	opacity: 1;
}
input[type="text"] :-ms-input-placeholder,
input[type="email"] :-ms-input-placeholder,
input[type="url"] :-ms-input-placeholder,
input[type="password"] :-ms-input-placeholder,
input[type="search"] :-ms-input-placeholder,
select :-ms-input-placeholder,
textarea :-ms-input-placeholder {
	color: rgba(29, 33, 95, 0.5);
	opacity: 1;
}
input[type="text"] :-moz-placeholder,
input[type="email"] :-moz-placeholder,
input[type="url"] :-moz-placeholder,
input[type="password"] :-moz-placeholder,
input[type="search"] :-moz-placeholder,
select :-moz-placeholder,
textarea :-moz-placeholder {
	color: rgba(29, 33, 95, 0.5);
	opacity: 1;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
select:focus,
textarea:focus {
	outline: 2px solid rgba(29, 33, 95, 0.6);
	-webkit-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 12px 20px 15px;
}

select {
	width: auto;
	padding: 10px 30px 5px 15px;
	line-height: 1.5;
}

textarea {
	padding: 10px 20px 8px;
	width: 100%;
	line-height: 1.5;
	border-width: 1px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="checkbox"],
input[type="radio"] {
	font-size: 1em;
	vertical-align: middle;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
a.cta-button {
	display: inline-block;
	margin: 0;
	padding: 12px 20px 15px;
	border-radius: 0;
	border: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 28px;
	font-size: 2.8rem;
	line-height: 1;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
	color: $color-white;
	background: $color-accent;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
button:hover,
button:active,
button:focus,
a.cta-button:hover,
a.cta-button:active,
a.cta-button:focus {
	-webkit-box-shadow: 0 2px 7px 2px rgba(22, 82, 85, 0.2),
		0 1px 1px 0 rgba(22, 82, 85, 0.1);
	box-shadow: 0 2px 7px 2px rgba(22, 82, 85, 0.2),
		0 1px 1px 0 rgba(22, 82, 85, 0.1);
}
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
button:focus,
a.cta-button:focus {
	outline: 2px solid $color-text;
}

.entry-content .wp-block-button__link {
	border-radius: 0;
	font-size: 28px;
	font-size: 2.8rem;
	line-height: 1;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
	color: $color-white;
	border-radius: 50px;
	background: $color-accent-mid;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.entry-content .wp-block-button__link:hover,
.entry-content .wp-block-button__link:active,
.entry-content .wp-block-button__link:focus {
	-webkit-box-shadow: 0 2px 7px 2px rgba(22, 82, 85, 0.2),
		0 1px 1px 0 rgba(22, 82, 85, 0.1);
	box-shadow: 0 2px 7px 2px rgba(22, 82, 85, 0.2),
		0 1px 1px 0 rgba(22, 82, 85, 0.1);
}
.entry-content .wp-block-button__link:focus {
	outline: 2px solid $color-text;
}
.entry-content .wp-block-button__link:hover,
.entry-content .wp-block-button__link:active,
.entry-content .wp-block-button__link:focus {
	color: $color-white;
	background: $color-accent-mid;
}

.wp-caption {
	border: none;
	margin-bottom: 1em;
}
.wp-caption img {
	margin: 0;
	max-width: 100%;
}
.wp-caption .wp-caption-text {
	margin: 10px 0 8px;
	text-align: left;
}

.page-navigation-container {
	position: relative;
	z-index: 1;
	background: $color-white;
}
.page-navigation-container .menu-primary-nav-container {
	margin: 0 auto;
	max-width: 1160px;
	position: relative;
}
.page-navigation-container .current-menu-item {
	@media screen and (min-width: 37.5em) {
		border-bottom: 7px solid $color-accent-light-mid;
	}

	a {
		color: $color-accent-light-mid;
	}
}
.page-navigation-container a {
	padding: 30px 20px;
	color: $color-text;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
	font-weight: 900;
}
.page-navigation-container li:hover a,
.page-navigation-container li.focus a {
	color: $color-text;
	text-decoration: none;
}
.page-navigation-container.toggled-on ul {
	padding: 15px 10px 10px;
}
.page-navigation-container ul {
	@media screen and (min-width: 37.5em) {
		display: flex;
	}

	li:first-child {
		position: relative;

		@media screen and (min-width: 37.5em) {
			margin-right: auto;
		}

		a,
		a:link,
		a:hover,
		a:active,
		a:focus,
		a:visited,
		a:visited:hover,
		a:visited:active,
		a:visited:focus {
			color: transparent !important;
		}

		&:after {
			content: "";
			background: transparent
				url("https://2020.greenville.wordcamp.org/files/2019/10/20.png")
				center no-repeat;
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: contain;
		}

		&.current-menu-item {
			border: none;
		}
	}
}
.page-navigation-container ul ul {
	top: 78px;
	background: $color-white;
	background: rgba(255, 255, 255, 0.85);
	padding: 10px 0 20px;
}
.page-navigation-container ul ul a {
	padding: 8px 30px;
	width: 17em;
}
.page-navigation-container ul ul li:hover a,
.page-navigation-container ul ul li.focus a {
	color: $color-text;
	margin-left: -15px;
}
.page-navigation-container ul ul li:hover a:before,
.page-navigation-container ul ul li.focus a:before {
	display: inline-block;
	content: "\25cf";
	width: 13px;
	margin-right: 2px;
}
.page-navigation-container .callout {
	position: absolute;
	right: 0;
	background: $color-text;
}
.page-navigation-container .callout a {
	padding: 30px 50px;
}
.page-navigation-container .callout:hover,
.page-navigation-container .callout.focus {
	background: $color-accent;
}
.page-navigation-container .callout:hover a,
.page-navigation-container .callout.focus a {
	color: $color-text;
}

#site-navigation {
	display: none !important;
}

.js .menu-toggle {
	color: $color-accent;
	width: 100%;
	position: relative;
}

.js .menu-toggle:after {
	content: "MENU";
	color: $color-white;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@media screen and (max-width: 37.5em) {
	.js .dropdown-toggle {
		display: none;
	}
	.page-navigation-container li {
		display: block;
		float: none;
	}
	.page-navigation-container li:hover,
	.page-navigation-container li.focus {
		background: transparent;
	}
	.page-navigation-container li:hover a,
	.page-navigation-container li.focus a {
		text-decoration: none;
	}
	.page-navigation-container a:focus {
		background: $color-white;
		color: $color-text !important;
	}
	.page-navigation-container a {
		padding: 10px !important;
		text-align: center;
	}
	.page-navigation-container ul ul {
		display: block;
		float: none;
		position: static;
		padding: 0 0 0 15px;
		-webkit-box-shadow: none;
		box-shadow: none;
		background: transparent;
	}
	.page-navigation-container ul ul a {
		width: 100%;
	}
	.page-navigation-container .callout {
		position: static;
		width: 100%;
		background: $color-accent-mid;
	}
	.page-navigation-container .callout a {
		color: $color-text;
	}
}

.custom-header {
	background: transparent
		url("https://2020.greenville.wordcamp.org/files/2019/10/skyline.jpg")
		center center no-repeat;
	background-size: cover;
	position: relative;
	height: 415px;
}
.custom-header .wp-custom-header,
.custom-header .custom-logo-link {
	display: block;
	margin: 0 auto;
	max-width: 300px;
	padding-top: 150px;
}
@media screen and (max-width: 37.5em) {
	.site {
		overflow-x: hidden;
	}
	.custom-header .wp-custom-header {
		padding-top: 90px;
	}
}

.widget {
	margin: 0;
}
.widget + .widget {
	margin-top: 30px;
}

#content-widget-1 {
	margin: 0 auto;
	max-width: 1160px;
	margin-bottom: 120px;
}
#content-widget-1 .custom-html-widget {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
	padding-left: 20px;
	padding-right: 20px;
}
#content-widget-1 .widget + .widget {
	margin-top: 60px;
}
#content-widget-1 .level-1 {
	grid-column: 1 / span 2;
	font-size: 56px;
	font-size: 5.6rem;
	line-height: 1.1;
	font-family: "freight-sans-condensed-pro", sans-serif;
	font-weight: 900;
	color: $color-text;
}
#content-widget-1 .level-2 {
	font-size: 42px;
	font-size: 4.2rem;
	font-family: "freight-sans-condensed-pro", sans-serif;
	font-weight: 900;
}
#content-widget-1 .button {
	display: inline-block;
	padding: 30px;
	font-size: 28px;
	font-size: 2.8rem;
	line-height: 1;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
	color: $color-text;
	// background: #ff9700;
	background-color: $color-accent;
}
#content-widget-1 .button:hover,
#content-widget-1 .button:active,
#content-widget-1 .button:focus {
	-webkit-box-shadow: 0 2px 7px 2px rgba(102, 60, 0, 0.2),
		0 1px 1px 0 rgba(102, 60, 0, 0.1);
	box-shadow: 0 2px 7px 2px rgba(102, 60, 0, 0.2),
		0 1px 1px 0 rgba(102, 60, 0, 0.1);
}
#content-widget-1 .button:focus {
	outline: 2px solid $color-text;
}
#content-widget-1 .button.span-2 {
	grid-column: 1 / span 2;
}
#content-widget-1 .button:nth-of-type(2) {
	font-size: 28px;
	font-size: 2.8rem;
	line-height: 1;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
	color: $color-text;
	background: $color-accent-mid;
}
#content-widget-1 .button:nth-of-type(2):hover,
#content-widget-1 .button:nth-of-type(2):active,
#content-widget-1 .button:nth-of-type(2):focus {
	-webkit-box-shadow: 0 2px 7px 2px rgba(22, 82, 85, 0.2),
		0 1px 1px 0 rgba(22, 82, 85, 0.1);
	box-shadow: 0 2px 7px 2px rgba(22, 82, 85, 0.2),
		0 1px 1px 0 rgba(22, 82, 85, 0.1);
}
#content-widget-1 .button:nth-of-type(2):focus {
	outline: 2px solid $color-text;
}
#content-widget-1 .button:nth-of-type(3) {
	font-size: 28px;
	font-size: 2.8rem;
	line-height: 1;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
	color: $color-text;
	background: $color-accent;
}
#content-widget-1 .button:nth-of-type(3):hover,
#content-widget-1 .button:nth-of-type(3):active,
#content-widget-1 .button:nth-of-type(3):focus {
	-webkit-box-shadow: 0 2px 7px 2px rgba(79, 88, 0, 0.2),
		0 1px 1px 0 rgba(79, 88, 0, 0.1);
	box-shadow: 0 2px 7px 2px rgba(79, 88, 0, 0.2),
		0 1px 1px 0 rgba(79, 88, 0, 0.1);
}
#content-widget-1 .button:nth-of-type(3):focus {
	outline: 2px solid $color-text;
}
@media screen and (max-width: 800px) {
	#content-widget-1 .custom-html-widget {
		grid-template-columns: 1fr;
		grid-gap: 30px 0;
		text-align: center;
	}
}
@media screen and (max-width: 450px) {
	#content-widget-1 .level-1 {
		font-size: 42px;
		font-size: 4.2rem;
	}
	#content-widget-1 .level-2 {
		font-size: 28px;
		font-size: 2.8rem;
	}
}

#primary-sidebar {
	margin-top: 60px;
	overflow: hidden;
}
#primary-sidebar .widget-title {
	font-size: 56px;
	font-size: 5.6rem;
	line-height: 1.2;
	text-align: center;
	margin-top: 0;
	margin-bottom: 60px;
}
#primary-sidebar .widget_custom_html {
	margin: 30px -10px 90px;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	position: relative;
	background: $color-text;
}
#primary-sidebar .widget_custom_html:before,
#primary-sidebar .widget_custom_html:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: -10px;
	right: -10px;
	z-index: -1;
}
#primary-sidebar .widget_custom_html:before {
	background: $color-text;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
#primary-sidebar .widget_custom_html:after {
	z-index: -2;
	background: $color-accent-mid;
	-webkit-transform: rotate(4deg);
	transform: rotate(4deg);
}
#primary-sidebar .custom-html-widget {
	margin: 0 auto;
	max-width: 780px;
	padding: 60px 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}
#primary-sidebar .custom-html-widget .label {
	font-family: "freight-sans-condensed-pro", sans-serif;
	font-size: 42px;
	font-size: 4.2rem;
	line-height: 1.1;
	color: $color-white;
}
#primary-sidebar .custom-html-widget .label.span-2 {
	grid-column: 1 / span 2;
}
#primary-sidebar .custom-html-widget a {
	display: inline-block;
	padding: 20px 30px;
	font-family: "proxima-nova", sans-serif;
	font-size: 28px;
	font-size: 2.8rem;
	line-height: 1;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
	color: $color-text;
	background: $color-white;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#primary-sidebar .custom-html-widget a:hover,
#primary-sidebar .custom-html-widget a:active,
#primary-sidebar .custom-html-widget a:focus {
	-webkit-box-shadow: 0 2px 7px 2px rgba(102, 102, 102, 0.2),
		0 1px 1px 0 rgba(102, 102, 102, 0.1);
	box-shadow: 0 2px 7px 2px rgba(102, 102, 102, 0.2),
		0 1px 1px 0 rgba(102, 102, 102, 0.1);
}
#primary-sidebar .custom-html-widget a:focus {
	outline: 2px solid $color-text;
}
#primary-sidebar .custom-html-widget a:hover,
#primary-sidebar .custom-html-widget a:active,
#primary-sidebar .custom-html-widget a:focus {
	-webkit-box-shadow: 0 2.5px 7.5px 2.5px rgba(0, 0, 0, 0.2),
		0 0.5px 0.5px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 2.5px 7.5px 2.5px rgba(0, 0, 0, 0.2),
		0 0.5px 0.5px 0 rgba(0, 0, 0, 0.1);
}
#primary-sidebar .custom-html-widget a:focus {
	-webkit-box-shadow: inset 0 0 0 2px $color-white,
		inset 0 0 0 4px $color-text;
	box-shadow: inset 0 0 0 2px $color-white, inset 0 0 0 4px $color-text;
}
@media screen and (max-width: 800px) {
	#primary-sidebar .custom-html-widget {
		grid-template-columns: 1fr;
		grid-gap: 30px 0;
		padding-left: 20px;
		padding-right: 20px;
	}
}
#primary-sidebar .wcb_widget_sponsors {
	margin: 0 auto;
	max-width: 1160px;
	padding: 0 40px;
}
#primary-sidebar .wcb_widget_sponsors .sponsor-level.bronze,
#primary-sidebar .wcb_widget_sponsors .sponsor-level.silver,
#primary-sidebar .wcb_widget_sponsors .sponsor-level.small-business,
#primary-sidebar .wcb_widget_sponsors .sponsor-level.consultant,
#primary-sidebar .wcb_widget_sponsors .sponsor-level .sponsor-level-title {
	display: none;
}
#primary-sidebar .wcb_widget_sponsors .sponsor-level {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
@media screen and (max-width: 800px) {
	#primary-sidebar .wcb_widget_sponsors .sponsor-level {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 450px) {
	#primary-sidebar .wcb_widget_sponsors .sponsor-level {
		grid-template-columns: 1fr;
	}
}
#primary-sidebar .wcb_widget_sponsors .sponsor-logo {
	padding: 0;
}

#footer-widget-1 {
	padding: 20px 20px 80px;
}
#footer-widget-1 .widget-title {
	margin-top: 0;
	color: $color-white;
	font-size: 42px;
	font-size: 4.2rem;
	line-height: 1.2;
	text-align: center;
}
#footer-widget-1 .widget {
	margin: 0 auto;
	max-width: 780px;
	color: $color-white;
}
#footer-widget-1 form {
	max-width: 575px;
	margin: 0 auto;
	/* display: grid;
	grid-template-columns: 100px 1fr;
	grid-gap: 10px; */
}
/* @media screen and (max-width: 450px) {
	#footer-widget-1 form {
		grid-template-columns: 1fr;
	}
} */
#footer-widget-1 form input {
	border-radius: 25px;
	margin-bottom: 10px;
}
#footer-widget-1 form p {
	margin-bottom: 0;
}
#footer-widget-1 #subscribe-email input {
	width: 100%;
}
#footer-widget-1 input[type="submit"] {
	width: 100%;
	height: 100%;
	grid-column-start: 2;
	background: $color-text;
	max-width: 50%;
	margin: 20px auto 0;
}

.site-content {
	background: $color-accent-light
		url("https://2020.greenville.wordcamp.org/files/2019/10/Digital-on-Light-Blue.png")
		right top no-repeat;
	background-size: 15%;
}
.site-main {
	background-color: $color-white;
	max-width: 900px;
	// max-width: 1170px;
	margin: 0 auto;

	.page & {
		background-color: transparent;
		max-width: 100%;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0;
	padding: 25px 50px;
}
.site-main .posts-navigation {
	border-top: 1px solid $color-accent-light;
}

.site-footer {
	background: $color-accent-dark
		url("https://2020.greenville.wordcamp.org/files/2019/10/skyline.jpg")
		center -70px no-repeat;
	background-size: cover;
	// padding-top: 150px;
	border-top: 11px solid $color-accent-light-mid;
	height: 425px;
	display: flex;
	flex-direction: column;
}

.site-main .hentry {
	padding: 0 50px 60px;

	.page & {
		padding: 0;
	}
}

.hentry {
	margin: 0;
}

// .hentry + .hentry {
// 	margin-top: 60px;
// }

.page-header {
	margin: 40px auto 20px;
}

.page-title {
	margin-bottom: 10px;
}

.entry-header {
	border-top: 1px solid $color-accent-light;
	text-align: center;

	.page & {
		border-top: none;
	}
}
.entry-header,
.entry-footer {
	font-size: 16px;
	font-size: 1.6rem;
}
.entry-header span + span,
.entry-footer span + span {
	margin-left: 8px;
}
.entry-header .byline,
.entry-footer .byline {
	display: none;
}
body.single .entry-header .byline,
body.single .entry-footer .byline {
	display: inline;
	margin-left: 4px;
}

.posted-on {
	opacity: 0.5;

	a {
		color: $color-text;
	}
}

.entry-title {
	// margin-top: 0;
	margin-bottom: 8px;
	color: $color-accent;
	font-weight: 900;

	.page & {
		background-color: $color-accent-mid;
		color: $color-white;
		margin: 0;
		padding: 40px 0;
	}
}

.entry-summary {
	margin: 20px 0;
}

.entry-content {
	margin: 20px 0 0;
}

.single,
.page {
	.entry-content,
	.entry-footer,
	.comments-area {
		@include content-styles;
	}
	.entry-content {
		padding-top: 40px;
	}
	.comments-area {
		padding-top: 25px;
		padding-bottom: 60px;
	}
}

.post-navigation {
	border-top: 1px solid $color-accent-light;
	border-bottom: 1px solid $color-accent-light;
	padding: 10px 0;
	font-size: 16px;
	font-size: 1.6rem;
}
.post-navigation a {
	color: $color-text;
}
.post-navigation a:hover,
.post-navigation a:active,
.post-navigation a:focus {
	color: $color-text;
}
.post-navigation .nav-previous:before {
	content: "\2190";
	margin-right: 4px;
}
.post-navigation .nav-next:after {
	content: "\2192";
	margin-left: 4px;
}

body.home:not(.blog) .entry-header {
	display: none;
}
body.home:not(.blog) .site-main .hentry {
	padding: 0;
}
body.home:not(.blog) .entry-content > * {
	padding-left: 50px;
	padding-right: 50px;
}
body.home:not(.blog) .invert-color {
	background: $color-accent;
	background: linear-gradient(to right, $color-accent, $color-accent-dark);
	padding: 50px;
	margin: 25px 0 50px;
	color: $color-white;
}
body.home:not(.blog) .invert-color .wp-block-button__link {
	background-color: $color-text;
}
body.home:not(.blog) .entry-content .wp-block-button__link {
	font-size: 28px;
	padding: 18px;
}
body.home:not(.blog) .header-light {
	color: $color-accent;
}
body.home:not(.blog) .button-columns .wp-block-column:first-of-type {
	flex-basis: 75%;
	margin-right: 2px;
}
body.home:not(.blog) .button-columns .wp-block-column:last-of-type {
	margin-left: 2px;
}
body.home:not(.blog) .button-columns .wp-block-column:first-of-type a {
	border-radius: 50px 0 0 50px;
}
body.home:not(.blog) .button-columns .wp-block-column:last-of-type a {
	border-radius: 0 50px 50px 0;
}
@media (max-width: 781px) {
	body.home:not(.blog) .button-columns .wp-block-column:first-of-type a,
	body.home:not(.blog) .button-columns .wp-block-column:last-of-type a {
		border-radius: 50px;
	}
	.button-columns .wp-block-column .alignleft,
	.button-columns .wp-block-column .alignright {
		float: none;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		display: block;
	}
}

body.error404 .page-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}
body.error404 .page-content > *:nth-child(1),
body.error404 .page-content > *:nth-child(2) {
	grid-column: 1 / span 2;
}
body.error404 .page-content .widget + .widget {
	margin: 0;
}

body.error404 .search-form {
	display: grid;
	grid-template-columns: 1fr 200px;
}
body.error404 .search-form label {
	margin: 0;
}
body.error404 .search-form input {
	border-radius: 0;
}

.contact-form > div {
	margin-bottom: 20px;
}

.contact-form input[type="radio"],
.contact-form input[type="checkbox"] {
	margin-right: 5px;
	margin-bottom: 7px !important;
	vertical-align: middle;
}

.contact-form .grunion-radio-label,
.contact-form .grunion-checkbox-multiple-label,
.contact-form .grunion-checkbox-label {
	font-weight: normal !important;
}

.contact-form .grunion-field-label {
	margin-bottom: 5px;
}
.contact-form .grunion-field-label span {
	margin-left: 10px;
	color: $color-text;
}

.wcorg-organizers .wcorg-organizer {
	clear: both;
	padding-top: 30px;
}

.wcorg-organizers h2 {
	margin-top: 0;
}

.wcorg-organizers .avatar {
	float: left;
	margin-right: 30px;
	border-radius: 50%;
	-webkit-box-shadow: 7px 7px 0 $color-text, -7px -7px 0 $color-text;
	box-shadow: 7px 7px 0 $color-text, -7px -7px 0 $color-text;
}

.tix_tickets_table .tix-column-description,
.tix-ticket-form .tix-column-description {
	max-width: 200px;
}

.tix_tickets_table th.tix-column-description,
.tix-ticket-form th.tix-column-description {
	text-align: left;
}

.tix_tickets_table td.tix-column-description,
.tix-ticket-form td.tix-column-description {
	padding-top: 15px;
}

.tix_tickets_table .tix-column-remaining,
.tix-ticket-form .tix-column-remaining {
	display: none;
}

.tix_tickets_table .tix-column-price,
.tix_tickets_table .tix-column-quantity,
.tix-ticket-form .tix-column-price,
.tix-ticket-form .tix-column-quantity {
	text-align: right;
	width: 6em;
}

.tix_tickets_table .tix-row-coupon td,
.tix-ticket-form .tix-row-coupon td {
	padding-top: 15px;
}

.tix_tickets_table .tix-ticket-excerpt,
.tix-ticket-form .tix-ticket-excerpt {
	font-size: 18px;
	font-size: 1.8rem;
}

.tix-order-summary th {
	padding-bottom: 10px;
	border-bottom: 2px solid $color-accent-light;
}

#tix {
	margin-bottom: 30px;
}

.tix-order-summary .tix-column-quantity {
	text-align: left;
}

.tix-order-summary .tix-row-total td,
.tix-order-summary .tix-column-price {
	text-align: right;
}

.tix-order-summary .tix-row-total td {
	padding-top: 15px;
}

.tix-attendee-form {
	font-size: 18px;
	font-size: 1.8rem;
}
.tix-attendee-form th,
.tix-attendee-form td {
	padding-bottom: 20px;
}
.tix-attendee-form .tix-left {
	width: 40% !important;
}
.tix-attendee-form .tix-right {
	padding-left: 30px;
}
.tix-attendee-form .tix-right label {
	font-weight: normal;
	line-height: 1.2;
}
.tix-attendee-form .tix-right br {
	display: none;
}
.tix-attendee-form .tix-right input[type="text"],
.tix-attendee-form .tix-right input[type="email"],
.tix-attendee-form .tix-right input[type="url"] {
	width: 100%;
}
.tix-attendee-form .tix-right textarea {
	width: 100%;
	height: 150px;
	resize: vertical;
}

#tix-coupon-container:not([style="display: none;"]) {
	width: 100%;
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
#tix-coupon-container:not([style="display: none;"]):before {
	content: "Coupon Code:";
	display: inline-block;
	width: 100px;
	text-align: left;
	font-size: 16px;
	font-size: 1.6rem;
}
#tix-coupon-container:not([style="display: none;"]) #tix-coupon-input {
	padding: 9px 20px 12px;
	width: calc(100% - 250px);
	border-radius: 0;
}
#tix-coupon-container:not([style="display: none;"])
	input[name="tix_coupon_submit"] {
	float: right;
}
@media (max-width: 400px) {
	#tix-coupon-container:not([style="display: none;"]) input {
		display: block;
		margin: 0;
		width: 100%;
	}
}

body.page-slug-schedule .site-main {
	margin: 0 auto;
	max-width: 1160px;
}

.wcpt-schedule {
	margin-bottom: 60px;
	border-bottom: 2px solid $color-accent;
}
.wcpt-schedule th {
	padding: 20px 15px 5px;
	border-bottom: 2px solid $color-accent;
	color: $color-text;
	font-weight: 900;
	text-align: left;
}
.wcpt-schedule td {
	font-size: 16px;
	font-size: 1.6rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 15px;
	border: 2px solid $color-accent;
	border-bottom: none;
}
@media screen and (min-width: 701px) {
	.wcpt-schedule td {
		width: 22.5%;
	}
	.wcpt-schedule td.wcpt-time {
		width: 11%;
		font-size: 14px;
		font-size: 1.4rem;
		background: rgba(0, 169, 157, 0.1);
	}
}
@media screen and (max-width: 700px) {
	.wcpt-schedule td {
		margin-bottom: 0;
	}
	.wcpt-schedule td:last-of-type {
		border-bottom: none;
	}
}
.wcpt-schedule td.wcpt-session-empty {
	border: none;
}
.wcpt-schedule td.wcpt-session-empty:last-of-type {
	border-right: 2px solid $color-accent;
}
.wcpt-schedule td.wcb-favourite-session {
	background: rgba(0, 169, 157, 0.15);
}
.wcpt-schedule td.wcb-favourite-session a.fav-session-button {
	color: $color-text;
}
.wcpt-schedule td div.wcb-session-favourite-icon a.fav-session-button:hover {
	color: $color-text !important;
}
.wcpt-schedule .global-session td:not(.wcpt-time) {
	text-align: center;
}
.wcpt-schedule .wcpt-session-title {
	font-weight: 600;
	text-decoration: underline;
}
.wcpt-schedule .wcpt-session-speakers {
	display: block;
	margin-top: 8px;
}
.wcpt-schedule .wcpt-session-speakers a {
	color: $color-text;
}
.wcpt-schedule .wcpt-session-type-custom {
	text-align: center;
}
.wcpt-schedule .wcpt-session-type-custom.wcpt-time {
	text-align: left;
}
.wcpt-schedule .wcpt-session-type-custom .wcpt-session-title {
	text-decoration: none;
}
@media screen and (max-width: 700px) {
	.wcpt-schedule {
		border-bottom: none;
	}
	.wcpt-schedule .global-session td[class*="wcb-track"]:before {
		content: "Large Ballroom";
	}
	.wcpt-schedule tr {
		border: none;
		border-bottom: 2px solid $color-accent;
	}
	.wcpt-schedule td.wcpt-session-empty {
		display: none;
	}
	.wcpt-schedule .wcpt-session-title {
		word-wrap: break-word;
	}
}
.wcpt-schedule td[class*="wcb-track"]:before {
	display: block;
	margin: -20px -15px 5px;
	padding: 10px 15px;
	font-size: 11px;
	font-size: 1.1rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
	color: $color-text;
	border: none;
	background: rgba(0, 169, 157, 0.4);
	text-align: center;
}
@media screen and (min-width: 701px) {
	.wcpt-schedule .wcb-track-advanced-developers:before {
		content: "Advanced Developers";
	}
	.wcpt-schedule .wcb-track-business:before {
		content: "Business & Freelancing";
	}
	.wcpt-schedule .wcb-track-community:before {
		content: "Community";
	}
	.wcpt-schedule .wcb-track-content:before {
		content: "Content & Social Media";
	}
	.wcpt-schedule .wcb-track-developers:before {
		content: "Developers";
	}
	.wcpt-schedule .wcb-track-gutenberg:before {
		content: "Gutenberg";
	}
	.wcpt-schedule .wcb-track-higher-education:before {
		content: "Higher Education";
	}
	.wcpt-schedule .wcb-track-intro-to-wordpress:before {
		content: "Intro to WordPress";
	}
	.wcpt-schedule .wcb-track-lightning-talks:before {
		content: "Lightning Talks";
	}
	.wcpt-schedule .wcb-track-site-builders:before {
		content: "Site Builders";
	}
	.wcpt-schedule .wcb-track-workshops:before {
		content: "Workshops";
	}
}

.wcpt-time:after {
	display: inline-block;
}
.wcpt-schedule-saturday .wcpt-time-800am .wcpt-time:after {
	content: "– 9:00 am";
}
.wcpt-schedule-saturday .wcpt-time-900am .wcpt-time:after {
	content: "– 9:10 am";
}
.wcpt-schedule-saturday .wcpt-time-910am .wcpt-time:after {
	content: "– 10:00 am";
}
.wcpt-schedule-saturday .wcpt-time-1000am .wcpt-time:after {
	content: "– 10:10 am";
}
.wcpt-schedule-saturday .wcpt-time-1010am .wcpt-time:after {
	content: "– 10:50 am";
}
.wcpt-schedule-saturday .wcpt-time-1050am .wcpt-time:after {
	content: "– 11:00 am";
}
.wcpt-schedule-saturday .wcpt-time-1100am .wcpt-time:after {
	content: "– 11:40 am";
}
.wcpt-schedule-saturday .wcpt-time-1140am .wcpt-time:after {
	content: "– 11:50 pm";
}
.wcpt-schedule-saturday .wcpt-time-1150am .wcpt-time:after {
	content: "– 12:30 pm";
}
.wcpt-schedule-saturday .wcpt-time-1230pm .wcpt-time:after {
	content: "– 1:30 pm";
}
.wcpt-schedule-saturday .wcpt-time-130pm .wcpt-time:after {
	content: "– 1:45 pm";
}
.wcpt-schedule-saturday .wcpt-time-145pm .wcpt-time:after {
	content: "– 2:10 pm";
}
.wcpt-schedule-saturday .wcpt-time-210pm .wcpt-time:after {
	content: "– 2:20 pm";
}
.wcpt-schedule-saturday .wcpt-time-220pm .wcpt-time:after {
	content: "– 3:00 pm";
}
.wcpt-schedule-saturday .wcpt-time-300pm .wcpt-time:after {
	content: "– 3:10 pm";
}
.wcpt-schedule-saturday .wcpt-time-310pm .wcpt-time:after {
	content: "– 3:50 pm";
}
.wcpt-schedule-saturday .wcpt-time-350pm .wcpt-time:after {
	content: "– 4:10 pm";
}
.wcpt-schedule-saturday .wcpt-time-410pm .wcpt-time:after {
	content: "– 4:50 pm";
}
.wcpt-schedule-saturday .wcpt-time-450pm .wcpt-time:after {
	content: "– 5:00 pm";
}
.wcpt-schedule-saturday .wcpt-time-500pm .wcpt-time:after {
	content: "– 5:40 pm";
}
.wcpt-schedule-saturday .wcpt-time-545pm .wcpt-time:after {
	content: "– 9:00 pm";
}
.wcpt-schedule-sunday .wcpt-time-1100am .wcpt-time:after {
	content: "– 11:30 am";
}
.wcpt-schedule-sunday .wcpt-time-1130am .wcpt-time:after {
	content: "– 12:10 pm";
}
.wcpt-schedule-sunday .wcpt-time-1210pm .wcpt-time:after {
	content: "– 12:20 pm";
}
.wcpt-schedule-sunday .wcpt-time-1220pm .wcpt-time:after {
	content: "– 1:00 pm";
}
.wcpt-schedule-sunday .wcpt-time-100pm .wcpt-time:after {
	content: "– 1:10 pm";
}
.wcpt-schedule-sunday .wcpt-time-110pm .wcpt-time:after {
	content: "– 1:50 pm";
}
.wcpt-schedule-sunday .wcpt-time-150pm .wcpt-time:after {
	content: "– 2:10 pm";
}
.wcpt-schedule-sunday .wcpt-time-210pm .wcpt-time:after {
	content: "– 2:50 pm";
}
.wcpt-schedule-sunday .wcpt-time-250pm .wcpt-time:after {
	content: "– 3:00 pm";
}
.wcpt-schedule-sunday .wcpt-time-300pm .wcpt-time:after {
	content: "– 3:40 pm";
}
.wcpt-schedule-sunday .wcpt-time-340pm .wcpt-time:after {
	content: "– 3:50 pm";
}
.wcpt-schedule-sunday .wcpt-time-350pm .wcpt-time:after {
	content: "– 4:30 pm";
}
.wcpt-schedule-sunday .wcpt-time-430pm .wcpt-time:after {
	content: "– 4:40 pm";
}
.wcpt-schedule-sunday .wcpt-time-440pm .wcpt-time:after {
	content: "– 5:20 pm";
}
.wcpt-schedule-sunday .wcpt-time-520pm .wcpt-time:after {
	content: "– 5:30 pm";
}
@media screen and (max-width: 700px) {
	.wcpt-time:after {
		display: inline-block;
		margin-left: 5px;
	}
}

body.page-slug-attendees .site-main {
	margin: 0 auto;
	max-width: 1160px;
}

.page-slug-attendees #tix-attendees li,
.page-slug-sponsors #tix-attendees li {
	height: auto;
	text-align: center;
	padding-top: 5px;
}

.page-slug-attendees #tix-attendees .avatar,
.page-slug-sponsors #tix-attendees .avatar {
	float: none;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	-webkit-box-shadow: 5px 5px 0 $color-accent-mid, -5px -5px 0 $color-text;
	box-shadow: 5px 5px 0 $color-accent-mid, -5px -5px 0 $color-text;
	margin-bottom: 15px;
}

.page-slug-attendees #tix-attendees .tix-attendee-name,
.page-slug-attendees #tix-attendees .tix-attendee-twitter,
.page-slug-attendees #tix-attendees .tix-attendee-url,
.page-slug-sponsors #tix-attendees .tix-attendee-name,
.page-slug-sponsors #tix-attendees .tix-attendee-twitter,
.page-slug-sponsors #tix-attendees .tix-attendee-url {
	margin-left: 0;
}

.page-slug-attendees #tix-attendees .tix-attendee-name,
.page-slug-sponsors #tix-attendees .tix-attendee-name {
	font-weight: bold;
	font-size: 18px;
	font-size: 1.8rem;
}

.page-slug-attendees #tix-attendees .tix-attendee-twitter,
.page-slug-attendees #tix-attendees .tix-attendee-url,
.page-slug-sponsors #tix-attendees .tix-attendee-twitter,
.page-slug-sponsors #tix-attendees .tix-attendee-url {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 130px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-size: 1.6rem;
}

.page-slug-attendees #tix-attendees .tix-attendee-list,
.page-slug-sponsors #tix-attendees .tix-attendee-list {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 30px 0;
	padding: 0;
}
.page-slug-attendees #tix-attendees .tix-attendee-list li,
.page-slug-sponsors #tix-attendees .tix-attendee-list li {
	float: none;
	width: 100%;
	margin: 0;
}

@media (min-width: 1100px) {
	.page-slug-attendees #tix-attendees .tix-attendee-twitter,
	.page-slug-attendees #tix-attendees .tix-attendee-url,
	.page-slug-sponsors #tix-attendees .tix-attendee-twitter,
	.page-slug-sponsors #tix-attendees .tix-attendee-url {
		max-width: 200px;
	}
}

@media (max-width: 880px) {
	.page-slug-attendees #tix-attendees .tix-attendee-list,
	.page-slug-sponsors #tix-attendees .tix-attendee-list {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 670px) {
	.page-slug-attendees #tix-attendees .avatar,
	.page-slug-sponsors #tix-attendees .avatar {
		height: 80px;
		width: 80px;
	}
}

@media (max-width: 620px) {
	.page-slug-attendees #tix-attendees .tix-attendee-list,
	.page-slug-sponsors #tix-attendees .tix-attendee-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 430px) {
	.page-slug-attendees #tix-attendees .tix-attendee-list,
	.page-slug-sponsors #tix-attendees .tix-attendee-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

body.page-template-page-day-of .site-main {
	margin: 0 auto;
	max-width: 1160px;
	margin-top: -60px;
}

body.page-template-page-day-of .entry-content h2 {
	font-size: 56px;
	font-size: 5.6rem;
	color: $color-text;
}

body.page-template-page-day-of .entry-content h3 {
	font-size: 42px;
	font-size: 4.2rem;
}

.comments-title,
.comment-reply-title {
	margin: 40px 0;
	font-size: 28px;
	font-size: 2.8rem;
}

.comment-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.comment-list .children {
	list-style: none;
	margin: 0 0 0 20px;
}
.comment-list .comment {
	margin-bottom: 40px;
}
.comment-list .comment-meta {
	display: grid;
	grid-template-columns: 2fr 1fr;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 1em;
	font-size: 16px;
	font-size: 1.6rem;
}
.comment-list .comment-meta .avatar {
	margin-right: 10px;
}
.comment-list .comment-meta .comment-metadata {
	text-align: right;
}
.comment-list .comment-reply-link {
	display: inline-block;
	padding: 10px 20px;
	font-size: 28px;
	font-size: 2.8rem;
	line-height: 1;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
	color: $color-text;
	background: $color-accent;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.comment-list .comment-reply-link:hover,
.comment-list .comment-reply-link:active,
.comment-list .comment-reply-link:focus {
	-webkit-box-shadow: 0 2px 7px 2px rgba(102, 60, 0, 0.2),
		0 1px 1px 0 rgba(102, 60, 0, 0.1);
	box-shadow: 0 2px 7px 2px rgba(102, 60, 0, 0.2),
		0 1px 1px 0 rgba(102, 60, 0, 0.1);
}
.comment-list .comment-reply-link:focus {
	outline: 2px solid $color-text;
}
.comment-list .thread-even .comment-reply-link {
	font-size: 28px;
	font-size: 2.8rem;
	line-height: 1;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
	color: $color-text;
	background: $color-accent;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.comment-list .thread-even .comment-reply-link:hover,
.comment-list .thread-even .comment-reply-link:active,
.comment-list .thread-even .comment-reply-link:focus {
	-webkit-box-shadow: 0 2px 7px 2px rgba(79, 88, 0, 0.2),
		0 1px 1px 0 rgba(79, 88, 0, 0.1);
	box-shadow: 0 2px 7px 2px rgba(79, 88, 0, 0.2),
		0 1px 1px 0 rgba(79, 88, 0, 0.1);
}
.comment-list .thread-even .comment-reply-link:focus {
	outline: 2px solid $color-text;
}

.comment-form {
	margin-bottom: 60px;
}

.site-info {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 15px 0;
	background: $color-accent-dark;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
}
.site-info a {
	color: $color-white;
	padding: 0 5px;
}
.site-info a:hover,
.site-info a:active,
.site-info a:focus {
	color: $color-white;
	text-decoration: underline;
}
.site-info span[role="separator"] {
	display: none;
}
