/* Color Pallete */

// Apparently, custom properties are not supported in RemoteCSS :(
// :root {
// 	--color-white: #fff;
// 	--color-black: #000;
// 	--color-text: #3c4595;
// 	--color-accent: #00a99d;
// 	--color-accent-alt: #10a968;
// }

$color-white: #fff;
$color-white-alt: #fefefe;
$color-black: #000;
$color-text: #272c52;
$color-accent: #2d7ac3;
$color-accent-light: #e2f4ff;
$color-accent-light-mid: #3c99de;
$color-accent-mid: #115591;
$color-accent-dark: #272c52;
